################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/Biometric_Attendence1/FileContentIndex/58e58c13-fa0f-4ed2-8210-f04c0bb00ac7.vsidx
/.vs/Biometric_Attendence1/FileContentIndex/e9d8ab87-9624-48a6-8795-6f32efac29a4.vsidx
/.vs/Biometric_Attendence1/FileContentIndex/58e58c13-fa0f-4ed2-8210-f04c0bb00ac7.vsidx
/.vs/Biometric_Attendence1/FileContentIndex/58e58c13-fa0f-4ed2-8210-f04c0bb00ac7.vsidx
/.vs/Biometric_Attendence1/FileContentIndex/e9d8ab87-9624-48a6-8795-6f32efac29a4.vsidx
