@page
@model BioMetric_Attendence.Pages.ManageUsers.createModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Add New User</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ManageUser.Name"></label>
            <input asp-for="ManageUser.Name" class="form-control" />
            <span asp-validation-for="ManageUser.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ManageUser.Gender">Gender:</label>
            <div>
                <label>
                    <input asp-for="ManageUser.Gender" type="radio" value="Male" /> Male
                </label>

                <label>
                    <input asp-for="ManageUser.Gender" type="radio" value="Female" /> Female
                </label>

                <label>
                    <input asp-for="ManageUser.Gender" type="radio" value="Other" /> Other
                </label>
            </div>
            <span asp-validation-for="ManageUser.Gender" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="ManageUser.FingerId"></label>
            <input asp-for="ManageUser.FingerId" class="form-control" />
            <span asp-validation-for="ManageUser.FingerId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ManageUser.Date"></label>
            <input asp-for="ManageUser.Date" class="form-control" type="date" />
            <span asp-validation-for="ManageUser.Date" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ManageUser.FingerprintData"></label>
            <input asp-for="ManageUser.FingerprintData" class="form-control" />
            <span asp-validation-for="ManageUser.FingerprintData" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
