@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 nav-link ">
        <div class="container">
            <a class="navbar-brand">
                <i class="bi bi-fingerprint fs-4"></i>
                SMART ATTENDENCE SYSTEM
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Your existing navigation items go here -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item btn-item">
                        <a class="nav-link text-dark btn-link " asp-area="" asp-page="/Login">
                            LOGIN
                            <i class="bi bi-lock-fill fs-4"></i>
                        </a>
                    </li>
                    <li class="nav-item btn-style btn-item">
                        <a class="nav-link text-dark  btn-link " asp-area="" asp-page="/Index">
                            SIGN UP
                            <i class="bi bi-person-fill-add fs-4"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<link rel="stylesheet" href="~/Biometric_Attendence1.styles.css" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-5">
        <div class="text-start ">
            <h1 class="display-4">Join us today!</h1>
        </div>
    </div>
    <div class="col-md-3">
        <!-- Adjust column size to decrease overall size -->
        <div class="clock-container ">
            <i class="bi bi-alarm-fill fs-4 logo"></i> <!-- Add logo class here -->
            <span id="clock"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-end btn-item">
            <a id="markAttendanceButton" class="btn btn-primary btn-contain btn-link text-line">
                <i class="bi bi-qr-code-scan fs-4"></i> &nbsp; Mark Attendance
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="markAttendanceModal" tabindex="-1" aria-labelledby="markAttendanceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="markAttendanceModalLabel">Mark Attendance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Input field for ID -->
                <div class="mb-3">
                    <label for="studentIdInput"  id="userId" class="form-label">Enter Student ID:</label>
                    <input type="text" class="form-control" id="studentIdInput">
                </div>
            </div>
            <div class="modal-footer btn-item">
                <!-- Button to mark attendance -->
                <button type="button" class="btn btn-link but-contain text-line" id="markAttendence">Mark Attendance</button>
                <button type="button" class="btn btn-secondary but-contain text-line" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <!-- Left side content (registration form) -->
        <div class="col-lg-4">
            <div class="border p-3 custom-margin custom-box">
                <div class="custom-container">
                    <div class="row pb-2 text-center">
                        <div class="col">
                            <h1 class="display-4">
                                Registeration</h1>
                            <hr class="w-25 mx-auto">
                        </div>
                </div>
               @*  < div asp-validation-summary="All"> *@
                    <div class="mb-3">
                        <label asp-for="registration.Username"></label>
                        <input asp-for="registration.Username" class="form-control form-control-sm custom-input" required />
                        <span asp-validation-for="registration.Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="registration.Email"></label>
                        <input asp-for="registration.Email" class="form-control form-control-sm custom-input" />
                        <span asp-validation-for="registration.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="registration.Password"></label>
                        <input id="password" asp-for="registration.Password" class="form-control form-control-sm custom-input" required />
                        <span asp-validation-for="registration.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="registration.confirmPassword"></label>
                        <input id="confirmPassword" asp-for="registration.confirmPassword" class="form-control form-control-sm custom-input" required />
                        <span asp-validation-for="registration.confirmPassword" class="text-danger"></span>
                        <span id="passwordMatchError" class="text-danger" style="display:none;">Passwords don't match.</span>
                    </div>

                    <div class="text-center btn-item">
                        <button type="submit" class="btn btn-primary btn-contain btn-link text-line" style="width:150px;">Register</button>
                    </div>
                    
            </div>
        </div>
        </div>
        <!-- Right side content -->
        <div class="col-lg-6">
            <img src="~/Images/banner.png" class="custom-img" />
            <!-- Add your content here -->
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
<script src="~/js/Index.js"></script>
<script src="~/js/MarkAttendence.js"></script>
<script src="~/js/Background.js"></script>

